# Inleiding
In de beschrijving van de theorie vind je een aantal losse oefeningen. We zullen deze oefeningen aanvullen door één geïntegreerde oefening waar de belangrijkste vaardigheden van dit hoofdstuk aan bod komen.
We zullen in deze oefening de volgende stappen zetten:
* We lezen gegevens uit de sqlite3-database Chinook. Die gegevens komen terecht in een dataframe.
* We maken een aantal subframes waarin we data filteren.
* We berekenen een aantal statistische gegevens uit ons dataframe.
* We schrijven de diverse resultaten weg naar een excelbestand met diverse tabbladen.

# De database
We gebruiken in deze oefening de sqlite3-database chinook. Sqlite-bestanden bevatten een relationele database. De specifiek eigenschappen van sqlite zijn:

* Het vraagt geen serverinfrastructuur. De database is opgeslagen in één bestand, er moeten geen server opgezet worden of een configuratie gemaakt worden. Daarom vraagt sqlite weinig systeembronnen. Dat maakt het zo geschikt voor gebruik in IoT-devices, maar ook als gegevensopslag voor de lokale verwerking van grote hoeveelheden complexe gegevens.
* Sqlite3 is beschikbaar op alle platformen (Windows, Mac, Linux, Android, FreeBSD, ...).
* De python-bibliotheek om sqlite-bestanden te lezen is meegeleverd bij de installatie van Python. Je hoeft niets extra te installeren.
* Ondanks zijn eenvoudig opzet is sqlite een volwaardige relationele database, met de mogelijkheid voor transacties volgens het ACID-principe (atomic, consistent, isolated, durable).
* Sqlite kan terrabytes aan gegevens verwerken. Dat maakt het een uitstekend alternatief voor Excelbestanden of tekstbestanden.

De database die we zullen gebruiken is de Chinook-database, een gratis demo die je op het web kunt vinden. Meer informatie over de sqlite-database Chinook vind je onder andere [hier](https://www.sqlitetutorial.net/sqlite-sample-database/). Je kan hem voor diverse DBMS'en ook [hier](https://github.com/lerocha/chinook-database) vinden.

Je kan heel gemakkelijk de chinook-database verkennen in het programma [DB Browser for Sqlite](https://sqlitebrowser.org/). Dit is een gebruiksvriendelijke programma voor diverse platformen waarmee je gemakkelijk gegevens uit sqlite-databanken kan raadplegen en wijzigen, via een gebruiksvriendelijke GUI of via SQL. Het is een ideale manier om je SQL-commando uit te testen.

# De gegevens uit de database halen
De eerste stap is de gegevens uit de database halen en in een pandas-dataframe stoppen.
Schrijf de Pythoncode om de volgende gegevens uit de database te halen:

* Van elke track geef je de factuurlijnen, met de volgende kolommen: naam van de Track, naam van het album waarin die track voorkwam, naam van de artis van dat album, naam van het genre van de track, verkochte hoeveelheid, prijs waartegen de track verkocht werd.
* Geef de kolommen de volgende kolomnamen: Name, Artist, Album, Genre, UnitPrice, Quantity.
* Je zal hiervoor vier tabellen moeten combineren met een join.
* De tracks waarvan geen factuurregel is (die dus ook nooit verkocht werden), moeten ook in de lijst voorkomen. Je zal dus een outer join moeten doen.

Sla die gegevens op in de dataframe `tracks`. Je zou 3759 rijen moeten hebben.

# Gegevens filteren
We gaan nu wat oefenen met het filteren van gegevens. Toon achtereenvolgens de volgende gegevens:

* Geef de eerste 10 tracks uit de lijst.
* Geef de tracks die nooit verkocht werden. Geef de naam van het track en de artist (Aantal is 1519). Sla die op een een dataframe `unsold`.
* Geef de tracks van het genre Rock en van het genre Blues (Aantal is 1476).
* Geef de tracks van Gilberto Gil die ook van het genre Soundtrack zijn (Aantal is 14).
* Geef de tracks van Iron Maiden die niet onder het genre Heavy Metal vallen (Aantal is 202).

# Een totaalkolom toevoegen
Voeg een extra kolom toe met het verkochte bedrag per factuurregel (bedrag * aantal). Geef die kolom de naam Total.
Wijzig de totaalkolommen zonder waarde. Zet daar de waarde op 0.

# Statistische gegevens
* Maak een nieuw dataframe met de lijst van de verkochte bedragen per Genre. Geef het de naam verkocht_per_genre.
* Maak een nieuw dataframe met de lijst van de verkochte bedragen per artist. Geef het de naam verkocht_per_artist.
* Wat is de artist die het meest verkocht heeft?

# Wegschrijven naar excel
Maak een Excelbestand met de volgende tabbladen:

* Alle factuurlijnen.
* Alle tracks die nooit verkocht werden.
* De lijst van de verkochte bedragen per genre.
* De lijst van de verkochte bedragen per artist.